@charset "UTF-8";

/* Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

body , html {
    background-image: linear-gradient(to top , #49a09d , #5f2c82);
    height: 100vh;  /* 100% da tela  */
    width: 100vw;  /* 100% da tela */
}

main {
    position: relative;
    height: 100vh;  /* main na tela cheia = 100% da tela */
    width: 100vw;   /* main na tela cheia = 100% da tela */

}

section#login {
    position: absolute;  /* centralizar no meio da tela */
    top: 50%;       /* centralizar no meio da tela */
    left: 50%;      /* centralizar no meio da tela */
    overflow: hidden;       /* tudo que tiver fora da borda fica escondido */

    background-color: white;
    width: 250px;  /* tamanho da tela de celular (mobile first) */
    height: 515px; /* tamanho da tela de celular (mobile first) */
    border-radius: 20px;  /* arredondar a borda */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.427);

    transform: translate(-50%, -50%);   /* centralizar no meio da tela */
    transition: width .3s , height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
   background: #5f2c82 url(../imagens/pexels-ricardo-cl-13369565.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
    height: 220px;

}

section#login > div#formulario {
    display: block;
    padding: 9px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 1px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

}

div.campo > label {
    display: none;      /* Serviu para tirar login e senha escrito na tela */
}

div.campo > i {
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #62e1dd;
    font-size: 1em;
    width: calc(100% - 45px);  /* para encaixar os campos de login */
    height: 100%;
    border: 0px;
    border-radius: 8px;
    transform: translateY(-10px);
    

}

div.campo > input:focus-within {
    background-color: white;
}



form > input[type= submit] {
    display: block;
    font-size: 1em;
    width: 100%;  /* largura total do container */
    height: 40px;  
    background-color: #49a09d;
    color: white;
    border: none;  /* tirar borda */
    border-radius: 5px;
    cursor: pointer;  /* quando passa o mouse encima muda o cursor */

}

form > input[type = submit]:hover {  /* hover passar o mouse encima muda de cor */
    background-color: #284f4e;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 6px;
    background-color: white;
    color: #284f4e;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;  /* tirar sublinhado do link */

}

form > a.botao:hover {
    background-color: #5cddd8;
}

form > a.botao > i {
    font-size: 0.8em;
}

